.headerContainer {
  padding: 0 64px;
  width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--badges);
  width: 100%;
}

.mainContainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
